:host {
  display: block;
  padding: 24px;
}

.scoreboard-entry {
  display: flex;
  font-size: 18px;
  height: 24px;
  margin-bottom: 16px;

  .index {
    font-weight: bold;
    margin-right: 24px;
  }

  .user-bar {
    display: flex;
    width: 200px;

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .avatar {
      padding-right: 12px;

      img {
        width: 24px;
        height: 24px;
        border-radius: 12px;
      }
    }
  }

  .score {
    font-weight: bold;
    margin-left: 24px;
  }
}

