@import "../../../shared";

:host {
  display: block;
  padding: 24px;
}

.scoreboard-entry {
  display: flex;
  font-size: 18px;
  margin-bottom: 16px;

  .index {
    font-weight: $font-weight-bold;
    margin-right: 24px;
    align-items: center;
    display: flex;
  }

  app-user-bar {
    width: 200px;
  }

  .score {
    font-weight: $font-weight-bold;
    margin-left: 24px;
    align-items: center;
    display: flex;
  }
}

