<div class="left">
  <h1><fa-icon [icon]="faFutbol"></fa-icon> Table Soccer</h1>
</div>
<div class="center">
  <div
    class="menu"
    *ngIf="user"
  >
    <div [routerLink]="'add-match'" [routerLinkActive]="'active'">Add match</div>
    <div [routerLink]="'scoreboard'" [routerLinkActive]="'active'">Scoreboard</div>
    <div [routerLink]="'match-history'" [routerLinkActive]="'active'">Match history</div>
  </div>
</div>
<div class="right">
  <div
    class="user-panel"
    *ngIf="user"
  >
    <app-user-bar [user]="user"></app-user-bar>
    <button (click)="onLogoutClick()">Log out</button>
  </div>
</div>
