<h2>Add match</h2>
<div class="add-match">
  <div class="score-container">
    <div
      class="user winner"
    >
      <div class="title">Winner</div>
      <app-user-bar *ngIf="me" [user]="me"></app-user-bar>
    </div>
    <div
      class="result"
    >
      <input value="10" readonly>
      <input [(ngModel)]="loserScore" (keyup)="onKeyUp();">
    </div>
    <div
      class="user loser"
    >
      <div class="title">Loser</div>
      <app-user-bar *ngIf="loser" [user]="loser"></app-user-bar>
      <app-user-bar *ngIf="!loser" [user]="{ name: '???' }"></app-user-bar>
    </div>
  </div>
  <div class="loser-picker">
    <div class="title">Pick a loser</div>
    <div
      class="loser"
      *ngFor="let loserToPick of losersToPick"
      (click)="pickLoser(loserToPick);"
    >
      <app-user-bar [user]="loserToPick"></app-user-bar>
    </div>
  </div>
  <div class="validation-message" *ngIf="validationMessage">{{validationMessage}}</div>
  <div class="controls" *ngIf="loser">
    <button (click)="onSubmitClick();">Submit match</button>
  </div>
</div>
