@import "../../../shared";

:host {
  display: block;
  padding: 24px;
}

.add-match {
  .score-container {
    display: flex;

    .user {
      &.winner {

      }

      &.loser {

      }

      .title {
        font-size: 18px;
        font-weight: $font-weight-bold;
        margin-bottom: 8px;
      }
    }

    .result {
      display: flex;
      align-items: flex-end;
      margin: 0 32px;
    }
  }
}

.loser-picker {
  margin: 32px 0;

  .title {
    font-size: 18px;
    font-weight: $font-weight-bold;
    margin-bottom: 8px;
  }

  .loser {
    border: 1px solid #eee;
    padding: 8px;
    margin: 4px;
    background: #fff;
    cursor: pointer;

    &:hover {
      background: #eee;
    }
  }
}

.validation-message {
  color: tomato;
  font-size: 18px;
  margin: 18px 0;
}

input {
  width: 80px;
  height: 50px;
  font-size: 42px;
  text-align:center;
}

.controls {
  margin: 16px 0;
}
